[class|="class"]   
{
	background:"#7AB8CC";
	color:"#ADD816";
}
[class$="class"]
{
	background:"#8B00FF";
	color:"#D94Dff";
}
div > td
{
	background:"#FF69B4";
	color:"#E6005C";
}
div + tr
{
	background:"#FF8033";
	color:"#FF7F50";
}
a:link{
	color:"#007500";
}
a:visited{
	color:"#FF0000";
}
	